<div class="add_new_recipe">
       <h1> Ajoute ta  recette </h1>
        <form action="/recipes" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
             <div>
                <label for="image">Image: </label>
                <input type="file" id="image" name="image">
            </div>
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients" name="ingredients" required></textarea>
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions" required></textarea>
            </div>
            <button type="submit">Ajouter </button>
</form>

    </div>