<%- include('partials/header') %>


<div class="profile_header_title">
    <h2>Mon profil</h2>
    <p>Bonjour, <%= user.username %>!</p>
</div>

<div class="profile_dashboard">
    <div class="edit_profile">
        <h2>Modifier Mon Profil</h2>
        <form action="/users/edit" method="post">
            <p> Nom d'utilisateur : <%= user.username %></p>
          
            <label for="password">Mot de passe </label>
            <input type="password" id="password" name="password" required>
            <!-- Ajoutez d'autres champs ici -->
            <button type="submit"> Mettre à jour </button>
        </form>

    </div>

   <div class="add-recipe-button">
    <a href="users/create">Ajouter recette</a>
</div>

    </div>

</div>

<%- include('partials/footer') %>

