<link rel="stylesheet" href="/css/recipes.css">

<% include partials/header.ejs %>
<div class="recipes-grid">
    <% recettes.forEach(function(recipe) { %>
    <div class="recipe-card">
        <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <h2 class="recipe-title"><%= recipe.title %></h2>
        <a href="/recipes/<%= recipe.id %>" class="recipe-button">Voir la recette</a>
    </div>
    <% }) %>
</div>
<% include partials/footer.ejs %>