.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #242526;
}

.navbar_list {
    position: relative;

}

.navbar_link {
    display: inline-flex;
}

.navbar_link a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar_link a:hover {
    background: #3A3B3C;
}


.main_title {
    display: flex;
    color: #f2f2f2;
    font-size: 10vh;
    font-weight: 600;
    text-decoration: none;
    flex-wrap: wrap;
    align-content: space-around;
}


.logo_image {
    width: 50px;
    height: 50px;
}

/* Add any additional styles or adjustments as needed */