.search-form {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

.search-form button{
    color: rgb(167, 62, 30);
}

.recipe-container {
    flex: 0 0 calc(50% - 20px); 
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.recipe-container::before, .recipe-container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
}


.recipe-container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
}

.recipe-box {
    width: 11.875em;
    background-color:#d1d9e282;
    border-radius: 0.7rem;
    transition: all ease .3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;

    margin-top: 10px;

.recipe-box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.recipe-image {
    width: 100%;
    height: 25%; /* l'image prend un quart de la hauteur de la carte */
    object-fit: cover; /* assure que l'image couvre l'espace dédié sans distorsion */
    border-radius: 5px 5px 0 0; /* coins arrondis seulement en haut */
    margin-bottom: 10px;
}

.recipe-title {
    color: rgb(25, 1, 1);
    margin-bottom: 5px;
    transition: background-color 0.3s ease 0s;
}


.recipe-button {
    position: absolute;
    top: 50%;
    padding: 5px 15px;
    background-color: #d1d9e282;
    color: #190101;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.recipe-button:hover {
    background-color: #b33900;
}

