/* Style pour la section "Recettes en Vedette" */
.featured-recipes {
    text-align: center;
    margin-bottom: 30px;
}

.featured-recipes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style pour les cartes de recette en vedette */
.recipe-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

.recipe-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-title {
    font-size: 18px;
    margin-top: 10px;
}

.recipe-button {
    display: block;
    background-color: #f06723; /* Couleur orange */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.recipe-button:hover {
    background-color: #d94c1c; /* Couleur orange foncé au survol */
}

/* Style pour la section "Dernières Recettes" */
.latest-recipes {
    text-align: center;
}

.latest-recipes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style pour les cartes de recette des dernières recettes */
.latest-recipes .recipe-card {
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 20px);
}

.latest-recipes .recipe-card:nth-child(3n+1) {
    margin-left: 0;
}

.latest-recipes .recipe-card:nth-child(3n+3) {
    margin-right: 0;
}

/* Réponse au survol des boutons */
.recipe-button:hover {
    background-color: #d94c1c; /* Couleur orange foncé au survol */
}
