<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/">

    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/header.css" />
    <title>Recipe Site</title>
</head>

<body>
     <header>
        <nav class="navbar">
            <h1 class="main_title">Yammy's</h1>
            <ul class="navbar_list">
                <li class="navbar_logo"></li>
                <li class="navbar_link"><a href="/">Home</a></li>

                <li class="navbar_link dropdown">
                    <a href="#">Admin</a>
                    <ul class="dropdown-content">
                        <li><a href="/admin/login">Login</a></li>
                        <li><a href="/admin/register">Register</a></li>
                        <li><a href="/admin/recipes">Admin Recipes</a></li>
                <% if (typeof session !== 'undefined' && session.isAdmin) { %>
                        <li><a href="/admin/adminProfile">Profil Admin</a></li>
                <% } %>

                <% if (typeof session !== 'undefined' && (session.isAdmin || session.isLoggedIn)) { %>
                        <li><a href="/auth/logout">Déconnexion</a></li>
                <% } %>

                    </ul>
                </li>

                <li class="navbar_link dropdown">
                    <a href="#">User</a>
                    <ul class="dropdown-content">
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                    </ul>
                </li>

                <% if (typeof session !== 'undefined' && session.isLoggedIn) { %>
                    <li class="navbar_link"><a href="/users/profile">Mon profil</a></li>
                 <li class="navbar_link"><a href="/logout">Déconnexion</a></li>
                    <% } %>
            </ul>
        </nav>
    </header>
</body>